CompileFlags:
  Add: [-Wlifetime, -Wall, -Wextra, -Wconversion, -Werror]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      "bugprone-*",
      "cppcoreguidelines-*", 
      "hicpp-*",
      "modernize-*",
      "performance-*",
      "readability-*",
      "misc-const-correctness",
      "misc-non-private-member-variables-in-classes",
      "misc-unused-parameters"
    ]
    Remove: [
      "modernize-use-trailing-return-type",
      "hicpp-no-array-decay"
    ]
    
Index:
  Background: Build
