CompileFlags:
  Add: [-Wlifetime, -Wall]

Diagnostics:
  UnusedIncludes: Strict
  Diagnostics:
  ClangTidy:
    Add: [*, readability-*, modernize-*, misc-const-correctness]
    Remove: [modernize-use-trailing-return-type]

    
