CompileFlags:
  Add: [-Wlifetime, -Wall, -Wextra, -Werror]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      "*",
      "bugprone-*",
      "bugprone-unchecked-optional-access",
      "cppcoreguidelines-*", 
      "hicpp-*",
      "modernize-*",
      "performance-*",
      "readability-*",
      "bugprone-use-after-move",
      "hicpp-invalid-access-moved",
      "modernize-use-ranges"
    ]
    Remove: [
      "llvmlibc-*",
      "google-build-using-namespace",
      "modernize-use-trailing-return-type",
      "hicpp-no-array-decay",
      "fuchsia-*",
      "readability-identifier-length",
      "readability-identifier-naming",
      "altera-*",
      "cppcoreguidelines-avoid-magic-numbers",
      "readability-magic-numbers",
      "misc-non-private-member-variables-in-classes",
      "bugprone-easily-swappable-parameters",
      "boost-use-ranges",
      "llvm-include-order",
      "readability-redundant-member-init"
    ]
    
Index:
  Background: Build
