/build*
/.vscode
/cpm_modules
.DS_Store
.cache
compile_commands.json
CMakeCache.txt
/CMakeFiles
TAGS
*~
.aider*
*.egg-info
__pycache__
test/build/

.python-version

# Coverage reports
coverage-report/
coverage-guiservice/
coverage.info
*.gcda
*.gcno
.coverage
htmlcov/

# Web service
webservice/node_modules/
webservice/.next/
webservice/data/
