name: Style

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

permissions:
  contents: read

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gcc-14 g++-14 coinor-libcbc-dev libboost-container-dev libspdlog-dev ca-certificates lsb-release wget
          wget https://packages.apache.org/artifactory/arrow/$(lsb_release --id --short | tr 'A-Z' 'a-z')/apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt-get install -y -V ./apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends -V libarrow-dev libparquet-dev
          pip3 install cmake_format==0.6.13 pyyaml

      - name: setup ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ github.workflow }}-check-format
          max-size: 2G

      - name: configure
        run: cmake -Stest -Bbuild -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        env:
          CC: gcc-14
          CXX: g++-14

      - name: check style
        run: cmake --build build --target check-format
