name: Style

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: check C++ format
        run: |
          git ls-files '*.h' '*.c' '*.hpp' '*.cpp' '*.hxx' '*.cxx' '*.hh' '*.cc' '*.ipp' '*.inc' '*.inl' \
            | xargs -r clang-format --dry-run -Werror
